# Virtual environment  
venv/  

# Python cache files  
__pycache__/  
*.pyc  
*.pyo  
*.pyd  

# Environment variables  
.env  

# Database migrations  
migrations/  

# IDE and OS files  
.vscode/  
.idea/  
.DS_Store  

# Logs and temporary files  
*.log  
*.sqlite3  
instance/  
